body{
  margin:0px;
  
}
.heading {
  position: fixed;
  background-color: brown;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  left: 0;
  top: 0;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 1);
  color: white;
  height: 5rem;
  z-index: 10;
}
.heading h1 {
  font-weight: bold;
}
.Food_background {
  width: 100%;
  height: 25rem;
  z-index: 0;
  overflow: hidden;
}
.Food_background img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: rotateZ(-5deg) translateY(-4rem) translateX(-1rem);
  object-position: 50% 10%;
  margin-top: 30px;
 
}
.header_button{
  cursor: pointer;
  font: inherit;
  border: none;
  background-color: #4d1601;
  color: white;
  padding: 0.75rem 3rem;  
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 25px;
  font-weight: bold;
}
.icon{
  width:20px;
  height:20px;
  margin-right: 0.5rem;
}
.badge{
  background-color: #b94517;
  padding: 0.25rem 1rem;
  border-radius: 25px;
  margin-left: 1rem;
  font-weight: bold;
}
.header_button:hover .badge,
.header_button:active .badge {
  background-color: #92320c;
}
.heading:hover,
.heading:active {
  background-color: #9a3108;

}
.bump {
  animation: bump 300ms ease-out;
}

@keyframes bump {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.9);
  }
  30% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}
